.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ffedeb;
  height: 100vh;



}
.circle{
  width: 100px;
  height: 100px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50px;
  background: yellow;
}

.circle.on{
background-color: grey;
}

.container.on{
  background-color: black;
}
