.container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
.col{
  display:flex;
  width:1000px;
}
.col-half{
  width:calc(100%/2);
}
.col-q{
  display: flex;
  direction: row;
  width:440px;
}
.row{
  text-align: center;
  width:900px;
}
.footer{
  text-align: center;

}
h1{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
}
h3{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
}
p{
  font-family: 'Karla';
  color: gray;
}
img{
  height:75px;
}
button{
  background-color: white;
  color: rgb(216, 71, 4);
  font-family: 'Karla';
  font-weight: 400;
  border-color: rgb(216, 71, 4);;
  width: 150px;
  height: 30px;
  font-weight: 700;
  border: 1px solid;
}
.footer{
  margin-top: 20px;
}
