.container {
  margin-left: auto;
  margin-right: auto;
  width: 1100px
}
.col{
  display:flex;
}
.col-half{
  width:calc(100%/2);
}
.col-q{
  display: flex;
  direction: row;
  width:440px;
}
.row{
  text-align: center;
}
.footer{
  text-align: center;

}
h1{
font-family: 'Karla';
font-style: normal;
font-weight: 700;
}
h3{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
}
p{
font-family: 'Karla';
color: gray;
}
img{
  height:75px;
}
button{
  background-color: white;
  color: rgb(216, 71, 4);
  font-family: 'Karla';
  border-color: rgb(216, 71, 4);;
  width: 100px;
  height: 30px;
  font-weight: 700;
}
